<div class="card text-white" style="height: 30rem; background-color: black;">
    <div class="card-header" style="background-color: black;">Command Log</div>
    <div class="card-body"
        style="overflow: auto; color: #00ff44; display: flex; flex-direction: column-reverse; font-size: small;"
        id="logBody">
    </div>
</div>

<%- include('./menu/row-head.ejs') %> 

<script src="/pages/panel/jadibot/js/menu/command-log.js" defer></script>